<div class ="Jumbotron bg-white text-center">
    <h1 dlass = "display-4">Corona Covid-19 Tracker Country Wise</h1>
    <hr>
    <p class = "lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus aspernatur dicta nam fugiat, rem distinctio sint placeat reiciendis. Libero quibusdam consequuntur maiores vitae provident nemo voluptatibus nostrum molestiae excepturi qui.</p>
    <hr class ="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, suscipit temporibus veritatis sapiente odio sint quos! At, aspernatur in et a neque illum dolores consequuntur veniam molestiae delectus modi nulla.</p>
</div>